<div class="main">
    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="<%=root_url%>images/logo/ihmpusalogo.png" style="width:80px;" alt="Logo">  
                        </div>
                    </div>
                              
                    <h2 class="form-group text-center">Upload Document</h2>
                    	<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
			<%= form_tag({action: 'index'}, multipart: :true, id: :myforms, class: "form-horizontal") do  %>

            <input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
            <input type="hidden" name="mid" id="mid" value="<% if @studentadm %><%=@studentadm.id%><% end %>"/>
            <input type="hidden" name="currcategoryimage" id="currcategoryimage" value="<% if @studentadm %><%=@studentadm.stdnt_img%><% end %>"/>
			<input type="hidden" name="productServer" id="productServer" value=""/>
			<input type="hidden" name="myattachpropfile" id="myattachpropfile" value=""/>
			<input type="hidden" name="manualupdatecode" id="manualupdatecode" value=""/>
            <input type="hidden" name="studentattach_file" id="studentattach_file" value=""/>
            <input type="hidden" name="studentattach_fil" id="studentattach_fil" value=""/>
            <input type="hidden" name="cursignature" id="cursignature" value="<% if @studentadm %><%=@studentadm.stdnt_signature%><% end %>"/>

            <div class="form-group row mb10">
             <label class="col-md-6">Roll No.
              <span class="required"> * </span>
                <input name="stdnt_reg_no" id="stdnt_reg_no" autofocus="true" type="text" placeholder="Enter Roll No."
                    autocomplete="off" maxlength="10" class="form-control form-control-lg" required value="<% if @studentadm%><%=@studentadm.stdnt_reg_no%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_reg_no'] %><% end %>"/> 
                    </label>
					<div class="col-md-6 mt10 no_loader" style="margin-top: 23px;">
							
                    <button class="btn btn-round btn-primary wth100" id="generate-otp-btn" onclick = "sendOTPEmail();">Generate OTP</button>
                                       
							</div>
                              <div class="col-sm-12 col-md-1 show_loader hidden">
                    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner  " >
                      <img src="<%=root_url%>/images/spining_loader.gif" width="30px">
                    </div>
                    </div>  
                        </div>
                       
						<div class="form-group row mb10">
						<label class="col-md-12">
							<input name="std_otp" id="std_otp" autofocus="true" type="password" placeholder="Enter OTP*"
							autocomplete="off" onkeypress="return isNumberMyKeys(event);" onkeyup="check_opt_for_verify();" maxlength="6" class="form-control form-control-lg"  value=""/> 
                            <span id="verfify_otp_link" class="hidden">Verfying...</span>
						</label>
					</div>
                    <%
						image_url = "https://user.gadjian.com/static/images/personnel_boy.png"
						pullimgpath = "https://ihm-inqerp.b-cdn.net"
						if @studentadm
							compcode = @studentadm.stdnt_compcode
							img_path = @studentadm.stdnt_img
						image_url = "#{pullimgpath}/#{compcode}/student/#{img_path}"
						end
					   %>
                        <div class="form-group row mb10 ">
                            <label class="col-md-12">Upload Self Image
						
                                <span class="required"> * </span>
                                <input type="file" class="form-control-file item-img" accept=".jpg,.png,.jpeg" id="stdnt_img"  name="stdnt_img" /> 
                            </label>
                        </div>
                        <%
                        sign_image_ur = ""
						if @studentadm
							compcode = @studentadm.stdnt_compcode
							sign_img_path = @studentadm.stdnt_signature
						sign_image_ur = "#{pullimgpath}/#{compcode}/studentsign/#{sign_img_path}"
						end
					   %>
                        <div class="form-group row ">
                            <label class="col-md-12">Upload Signature
							
                                <span class="required"> * </span>
                                <input type="file" class="form-control-file sign-item-img" accept=".jpg,.png,.jpeg" name="stdnt_signature" id="stdnt_signature"/> 
                            </label>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-round btn-primary " name="" id="" onclick="process_save_student_details(event);">SUBMIT</button>
                        </div>
                </div>
                <div class="signup-image">
                  <img src="<%=image_url%>" alt="Self Image" id="item-img-output" style="width:250px;height: 250px;">
                  <br/>
                  <img src="<%=sign_image_ur%>" alt="Signature" id="sign-item-img-output" style="width:250px;height: 250px;margin-top: 10px;">
                    <a href="<%=root_url%>login" class="signup-image-link" style="display:none;">Back to Login</a>
                </div>
            </div>
        </div>

					<% end %>	

					
    </section>
</div>
        <input type="hidden" id="currImage" value=""/>
		<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content" style="height: 500px;">
		<div class="modal-header">
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		<h4 class="modal-title" id="myModalLabel">
		<?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
		</div>
		<div class="modal-body m-b-20">
		<div id="upload-demo" class="center-block"></div>
		</div>
		<div class="modal-footer " >
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
		</div>
		</div>
		</div>
		</div>
                <input type="hidden" id="signImage" value=""/>
		<div class="modal fade" id="signImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content" style="height: 500px;">
		<div class="modal-header">
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		<h4 class="modal-title" id="myModalLabel">
		<?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
		</div>
		<div class="modal-body m-b-20">
		<div id="upload-dem" class="center-block"></div>
		</div>
		<div class="modal-footer " >
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="button" id="cropImageBt" class="btn btn-primary">Crop</button>
		</div>
		</div>
		</div>
		</div>
