<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Time Table Date Parameter</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
		
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
			<%= form_tag({action: 'index'}, multipart: :true, id: :myforms, class: "form-horizontal") do  %>
			<input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
			<input type="hidden" name="mid" id="mid" value="<%if @time_table_dt_param%><%=@time_table_dt_param.id%><% end %>"/>
			<input type="hidden" class="form-control-sm" name="timetabledtparamId" id="timetabledtparamId" value="">

					<div class="form-body">

							<div class="form-group row">
						<label class="col-md-2">Year
					<span class="required"> * </span>
				</label>
				<div class="col-md-3">
					<select class="form-select select-height"  name="tt_dtp_year" id="tt_dtp_year" >
							<option value="">Select...</option>
			    			<option value="2024"<% if @time_table_dt_param && @time_table_dt_param.tt_dtp_year.to_s == '2024'%>selected<% end %>>2024-2025</option>
                            			<option value="2025"<% if @time_table_dt_param && @time_table_dt_param.tt_dtp_year.to_s == '2025'%>selected<% end %>>2025-2026</option>
			    			<option value="2026"<% if @time_table_dt_param && @time_table_dt_param.tt_dtp_year.to_s == '2026'%>selected<% end %>>2026-2027</option>
			    			<option value="2027"<% if @time_table_dt_param && @time_table_dt_param.tt_dtp_year.to_s == '2027'%>selected<% end %>>2027-2028</option>
                            			<option value="2028"<% if @time_table_dt_param && @time_table_dt_param.tt_dtp_year.to_s == '2028'%>selected<% end %>>2028-2029</option>
			    			<option value="2029"<% if @time_table_dt_param && @time_table_dt_param.tt_dtp_year.to_s == '2029'%>selected<% end %>>2029-2030</option>
						</select>
				</div>

				
				

	</div>

	<div class="form-group row">

	<label class="col-md-2">Course
					<span class="required"> * </span>
				</label>
				<div class="col-md-3">
					<select class="form-select select-height"  name="tt_dtp_course" id="tt_dtp_course" onchange="updateSemester();" >
							<option value="">Select...</option>
							<%
                        if @CourseList && @CourseList.length>0
                            @CourseList.each do |course|
                    %>
                    <option value="<%=course.id%>" <% if @time_table_dt_param && @time_table_dt_param.tt_dtp_course.to_i == course.id.to_i %>selected<% elsif session[:sess_tt_dtp_course].to_s==course.id.to_i%>selected<% end %>><%=course.crse_descp%></option>
                    <%
                    end
                    end
                    %>
						</select>
				</div>
						<label class="col-md-2">Semester
					<span class="required"> * </span>
				</label>
				<div class="col-md-3">
					<select class="form-select select-height" required name="tt_dtp_sem" id="sub_sem" onchange="get_from_upto_dates()">
						<option value="">Select...</option>
						
					</select>
				</div>

				

	</div>
					<div class="form-group row">
					<label class="col-md-2">From Date
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
				<input name="tt_dtp_fromdate" id="tt_dtp_fromdate" type="text" readonly placeholder="Select From date"
				autocomplete="off" maxlength="20" class="form-control"  value="<% if @time_table_dt_param%><%=formatted_date(@time_table_dt_param.tt_dtp_fromdate)%><% elsif session[:postedpamams] != nil %><%= formatted_date(session[:postedpamams]['tt_dtp_fromdate']) %><% end %>"/> 

					</div>
					
					<label class="col-md-2">Upto Date
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
				<input name="tt_dtp_uptodate" id="tt_dtp_uptodate" type="text" readonly placeholder="Select Upto date"
				autocomplete="off" maxlength="20" class="form-control"  value="<% if @time_table_dt_param%><%=formatted_date(@time_table_dt_param.tt_dtp_uptodate)%><% elsif session[:postedpamams] != nil %><%= formatted_date(session[:postedpamams]['tt_dtp_uptodate']) %><% end %>"/> 

					</div>
					</div>

							<div class="form-group form-button text-center  m-b-20" style="margin-top: 50px;">
											<button type="button" onclick="process_save_time_table_date_params();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary" >SUBMIT</button>

								
							<a href="<%=root_url%>dashboard">	<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Quit</button> </a>
							</div>
					</div>
				</form>
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>