<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Add City</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
			<div class="row">
	       <div class="col-md-12 col-sm-12">
		<a href="<%=root_url%>city_list?page=<%=params[:page] %>" style="float:right;">	<button type="button" class="btn btn-circle btn-info "><i class="fa fa-arrow-left"></i> Back to list</button> </a>
		</div>
		</div>
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
			<input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
			<%= form_tag({action: 'create'}, multipart: :true, id: :myforms, class: "form-horizontal") do  %>
            <input type="hidden" name="mid" id="mid" value="<% if @city %><%=@city.Id%><% end %>"/>
					<div class="form-body">
						
					<div class="form-group row">
					<label class="col-md-3">Agency
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<select name="Ref_Agency_Id" id="Ref_Agency_Id" class="form-control" /> 
						<option>--Select-- </option>
        <% @agencies.each do |agency| %>
          <option value="<%= agency.Id %>" <%= 'selected="selected"' if @city&.Ref_Agency_Id == agency.Id %>><%= agency.Agency_Short %></option>
        <% end %>

						</select>
					</div>

					<label class="col-md-3">City Name
				</label>
				<div class="col-md-3">
				<input name="City" id="City" type="text" placeholder="Enter City"
				autocomplete="off" maxlength="99" class="form-control" value="<% if @city%><%=@city.City%><% end %>"/> 
				</div>

				</div>


						<div class="form-group row">
				
						<label class=" col-md-3 col-6">Branch
						<span class="required"> * </span>
						</label>
						<div class="col-md-3">
						<select name="Ref_Branch_id" id="Ref_Branch_id" class="form-control">
  						<option>--Select--</option>
       					 <% @branches.each do |branch| %>
          				<option value="<%= branch.Id %>" <%= 'selected="selected"' if @city&.Ref_Branch_id == branch.Id %>><%= branch.Branch_Code %></option>
        				<% end %>
						</select>

						</div>
								
				<label class="col-md-3">Active
				<span class="required"> * </span>
			</label>
				<div class="col-md-3">
				<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="Isactive">
  				<input type="hidden" name="Isactive" value="N">
       			 <input type="checkbox" id="Isactive" name="Isactive" class="mdl-switch__input" value="Y" <%= @city&.Isactive == 'Y' ? 'checked' : '' %>>
				</label>
			</div>
					
					</div>
					
				     	<div class="form-group form-button text-center  m-b-20" style="margin-top: 50px;">
							<button type="submit"
							class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">SUBMIT</button>
								<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active process_loader" style="display:none;"></div>
							<a href="<%=root_url%>city_list?page=<%=params[:page] %>">	<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Quit</button> </a>
							</div>
					</div>
				</form>
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>