<div class="page-content-wrapper">

<!-- Page Content -->
<div class="page-content">
<%= render "layouts/portlet-config" %>
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN STYLE CUSTOMIZER -->
      <%= render "layouts/theme-panel" %>
<%=render'layouts/breadcrumbs'%>
    <!-- /Page Header -->
<% if flash[:error] %>
<div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
<%= flash[:error] %>
</div>
<% end %>
                <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myforms ) do  %>
                <input type="hidden" id="rootXPath" value="<%=root_url%>"/>
                
                  <div class="row filter-row">
                        <div class="col-md-1 col-xs-3">
                            Date
                            </div>
                            <div class="col-md-3 col-xs-6">
                            <input type="text"  autocomplete="off" class="form-control" name="tseach" id="from_date" value="<% if @tseach %><%=@tseach%><% else %><%=formatted_date(@cdate)%><% end %>"/>
                            </div>


                            <div class="col-lg-2 col-xs-2 no_loader">
                            <a href="javascript:;" onclick="search_my_all_expenses();" class="btn btn-success btn-sm " style="padding: 3px 10px;"> <i class="fa fa-search mr5" aria-hidden="true"></i> Search</a>
                                                              
                                        </div>
                          <div class="col-lg-2 show_loader hidden dash-title" >
                           <img src="<%=root_url%>/images/spining_loader.gif" width="40px">
                          </div>
                        
                          <div class="col-sm-6 col-md-6 m-t-5" >
                          <a href="<%=root_url%>expense_entry/expense_entry_list_refresh" style="float: right;" title="Reset Filter"> <img src="<%=root_url%>images/newbutt.png" class="search_new_new"> </a>
                       </div>

                 </div>
                <% end %>
    <div class="row">
      <div class="col-md-12">
         <div class="row">
                     

                                    <a href="<%=root_url%>expense_entry" class="btn add-btn float-left"><img src="<%=root_url%>images/addlist.png"/></a>
                             
                                                   
                  <div class="col-auto float-right ml-auto ">
                                              <div class="btn-group btn-group-sm hidden">
                  <a  class="btn btn-white"href="<%=@printpath%>" class="btn btn-white">CSV</a>
                  
                   <a href="<%=@printpdfpath%>" target="_blank" class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</a>
                </div>
              </div>
              
                                  </div>
        <div class="table-responsive">
        <table class="table table-hover">
        <thead>
        <tr class="head_table">
          <th>
            SL.NO.
          </th>
                                                                <th>
            Expense No.
          </th>
                                                          
                                                                <th>
            Employee Name
          </th>
          <th>Expense Type</th>
          <th>
            Type of Trip
          </th>
          <th>
           Amount
          </th>
          
        
                                                                <th colspan="2">
            Action
          </th>
        </tr>
        </thead>
        <tbody id="myallexpensesagainstfile">
                                                        <%
                                                        k = 1
                                                        if @ExpenseList !=nil && @ExpenseList.length >0
                                                          @ExpenseList.each do |expn|
                                                        %>
                                                        <tr>
                                                          <td id="center"><%=k%></td>
                                                          <td><%=expn.ed_number%></td>
                                                         <%
                                                         empname = ''
                                                         empobj =  get_team_detail(expn.ed_compcode,expn.ed_surveyors)
                                                         if empobj
                                                           empname = empobj.emp_name
                                                         end
                                                         %>
                                                          <td><%=empname%></td>
                                                          <td><%=expn.ed_exptype%></td>
                                                          <td><%=expn.ed_locality%></td>
                                                          <td style="text-align:right;"><%=currency_formatted(expn.ed_expenseamount)%></td>
                                                          <td align="center">
                                                            <%
                                                              if expn.ed_approve_status != 'Y'
                                                           %>
                                                          <a href="<%=root_url%>expense_entry/<%=expn.id%>"><i class="fa fa-pencil-square-o hrmsfonts_size" aria-hidden="true"></i></a>
          
                                                          <% end %>
                                                          </td>
                                                          <td align="center">
                                                          <%
                                                            if expn.ed_approve_status != 'Y'
                                                         %>
                                                       
                                                        <a href="javascript:void(0);" rel="<%=root_url%>expense_entry/<%=expn.id%>/deletes" onclick="confirmDeletion(this);"><i class="fa fa-trash-o hrmsfonts_size" aria-hidden="true"></i></a>
                                                        <% end %>
                                                        </td>
                                                      </tr>
                                                      <%
                                                         k +=1
                                                       end
                                                       %>
                                                          <% else %>
                                                          <tr>
                                                                  <td  colspan="7">
                                                                  No Record(s) Found.
                                                                  </td>

                                                          </tr>
                                                        <% end %>
        
        </tbody>
        </table>
                <div align="center"><%= will_paginate(@ExpenseList)%></div>
                                 
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->
</div>