<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Faculty View</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
		
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
			<%= form_tag({action: 'index'}, multipart: :true, id: :myforms, class: "form-horizontal") do  %>
						<input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
			            <input type="hidden" name="mid" id="mid" value="<%if @time_table%><%=@time_table.id%><% end %>"/>
			<input type="hidden" class="form-control-sm" name="timetableid" id="timetableid" value="">

					<div class="form-body">

							
				
					
<div class="form-group row mt-4">
					<div class="col-md-2 text-center" >
					Year <span class="required"> * </span><br/>
					<select class="form-select select-height"  name="tt_year" id="tt_year" onchange="get_time_table_sheet_list();">
							<option value="">Select...</option>
							<option value="2024"<% if @time_table && @time_table.tt_year.to_s == '2024'%>selected<% end %>>2024-2025</option>
							<option value="2025"<% if @time_table && @time_table.tt_year.to_s == '2025'%>selected<% end %>>2025-2026</option>
							<option value="2026"<% if @time_table && @time_table.tt_year.to_s == '2026'%>selected<% end %>>2026-2027</option>
							<option value="2027"<% if @time_table && @time_table.tt_year.to_s == '2027'%>selected<% end %>>2027-2028</option>
							<option value="2028"<% if @time_table && @time_table.tt_year.to_s == '2028'%>selected<% end %>>2028-2029</option>
							<option value="2029"<% if @time_table && @time_table.tt_year.to_s == '2029'%>selected<% end %>>2029-2030</option>
							<option value="2030"<% if @time_table && @time_table.tt_year.to_s == '2030'%>selected<% end %>>2030-2031</option>

						</select>
				</div>
				
			
			<div class="col-md-3 text-center" >
			Faculty <span class="required"> * </span><br/>
				<select class="form-select select-height" required name="tt_faculty" id="tt_faculty" >
							<% if @faculty  %>
								<option value="">Select...</option>
								<% end %>
									<%
                        if @faculty && @faculty.length>0
                            @faculty.each do |faculty|
                    %>
                    <option value="<%=faculty.id%>" <% if @time_table && @time_table.tt_faculty.to_i == faculty.id.to_i %>selected<% elsif session[:sess_tt_faculty].to_s==faculty.id.to_i%>selected<% end %>><%=faculty.fclty_name%></option>
                    <%
                    end
                    end
                    %>
				</select>
			</div>

			
			<div class="col-md-2" >
			
			<button type="button" class="btn btn-circle btn-info mt-4" onclick="view_faculty_time_table();" >Search</button>
			<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active process_loader" style="display:none;"></div>
			</div>
				</div>
						<div class="table-scrollable">
												<table class="table" >
													<thead>
														<tr>
															<th>Day</th>
															
															<th width="10%">1</th>
															<th width="10%">2</th>
															<th width="10%">3</th>
															<th width="10%">4</th>
															<th width="10%">5</th>
															<th width="10%">6</th>
															<th width="10%">7</th>
															<th width="10%">8</th>
															
														</tr>
													</thead>
													<tbody id="process_time_table" >
													<tr>
														<td colspan="4">No Redord(s) found.</td>
													</tr>
											 
							
							
										</tbody>
												</table>
											</div>

							<div class="form-group form-button text-center  m-b-20" style="margin-top: 50px;">
							
								
							<a href="<%=root_url%>dashboard">	<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Quit</button> </a>
							</div>
					</div>
				</form>
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>