
												
											 
							
							<tr class="fnt-sm11">
    <td rowspan="8">Monday</td>
    <td class="groupbg">1 </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '1', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '1', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '2', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '2', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '3', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '3', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '4', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '4', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">A</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '5', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '5', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '6', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '6', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '7', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '7', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '8', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '8', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">2</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '1', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '1', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '2', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '2', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '3', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '3', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '4', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '4', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">B</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '5', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '5', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '6', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '6', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '7', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '7', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '8', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '8', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">3</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '1', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '1', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '2', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '2', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '3', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '3', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '4', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '4', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">C</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '5', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '5', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '6', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '6', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '7', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '7', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '8', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '8', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">4</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '1', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '1', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '2', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '2', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '3', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '3', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '4', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '4', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">D</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '5', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '5', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '6', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '6', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '7', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '7', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '8', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '8', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">5</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '1', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '1', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '2', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '2', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '3', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '3', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '4', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '4', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">E</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '5', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '5', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '6', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '6', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '7', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '7', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '8', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '8', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">6</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '1', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '1', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '2', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '2', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '3', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '3', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '4', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '4', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">F</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '5', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '5', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '6', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '6', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '7', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '7', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '8', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '8', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">7</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '1', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '1', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '2', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '2', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '3', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '3', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '4', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '4', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">G</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '5', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '5', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '6', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '6', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '7', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '7', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '8', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '8', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">8</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '1', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '1', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '2', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '2', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '3', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '3', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '4', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '4', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">H</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '5', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '5', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '6', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '6', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '7', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '7', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('MON', '8', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('MON', '8', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
</tr>


								<tr class="fnt-sm11">
    <td rowspan="8">Tuesday</td>
    <td class="groupbg">1 </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '1', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '1', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '2', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '2', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '3', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '3', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '4', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '4', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">A</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '5', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '5', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '6', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '6', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '7', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '7', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '8', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '8', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">2</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '1', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '1', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '2', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '2', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '3', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '3', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '4', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '4', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">B</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '5', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '5', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '6', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '6', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '7', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '7', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '8', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '8', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">3</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '1', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '1', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '2', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '2', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '3', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '3', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '4', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '4', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">C</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '5', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '5', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '6', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '6', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '7', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '7', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '8', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '8', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">4</td>,course
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '1', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '1', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '2', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '2', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '3', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '3', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '4', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '4', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">D</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '5', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '5', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '6', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '6', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '7', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '7', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '8', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '8', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
</tr>


<tr class="fnt-sm11">
    <td class="groupbg">5</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '1', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '1', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '2', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '2', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '3', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '3', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '4', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '4', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">E</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '5', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '5', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '6', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '6', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '7', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '7', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '8', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '8', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
</tr>


<tr class="fnt-sm11">
    <td class="groupbg">6</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '1', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '1', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '2', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '2', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '3', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '3', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '4', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '4', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">F</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '5', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '5', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '6', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '6', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '7', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '7', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '8', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '8', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">7</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '1', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '1', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '2', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '2', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '3', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '3', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '4', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '4', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">G</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '5', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '5', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '6', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '6', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '7', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '7', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '8', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '8', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">8</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '1', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '1', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '2', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '2', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '3', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '3', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '4', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '4', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">H</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '5', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '5', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '6', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '6', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '7', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '7', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('TUES', '8', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('TUES', '8', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
</tr>


								<tr class="fnt-sm11">
    <td rowspan="8">Wednesday</td>
    <td class="groupbg">1 </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '1', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '1', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '2', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '2', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '3', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '3', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '4', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '4', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">A</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '5', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '5', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '6', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '6', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '7', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '7', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '8', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '8', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">2</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '1', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '1', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '2', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '2', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '3', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '3', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '4', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '4', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">B</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '5', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '5', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '6', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '6', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '7', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '7', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '8', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '8', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">3</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '1', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '1', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '2', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '2', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '3', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '3', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '4', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '4', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">C</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '5', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '5', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '6', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '6', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '7', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '7', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '8', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '8', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">4</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '1', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '1', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '2', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '2', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '3', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '3', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '4', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '4', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">D</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '5', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '5', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '6', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '6', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '7', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '7', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '8', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '8', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">5</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '1', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '1', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '2', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '2', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '3', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '3', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '4', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '4', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">E</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '5', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '5', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '6', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '6', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '7', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '7', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '8', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '8', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">6</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '1', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '1', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '2', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '2', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '3', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '3', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '4', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '4', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">F</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '5', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '5', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '6', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '6', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '7', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '7', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '8', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '8', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">7</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '1', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '1', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '2', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '2', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '3', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '3', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '4', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '4', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">G</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '5', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '5', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '6', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '6', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '7', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '7', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '8', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '8', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">8</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '1', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '1', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '2', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '2', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '3', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '3', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '4', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '4', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">H</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '5', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '5', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '6', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '6', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '7', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '7', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('WED', '8', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('WED', '8', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
</tr>


								<tr class="fnt-sm11">
    <td rowspan="8">Thursday</td>
    <td class="groupbg">1 </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '1', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '1', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '2', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '2', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '3', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '3', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '4', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '4', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">A</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '5', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '5', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '6', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '6', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '7', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '7', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '8', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '8', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">2</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '1', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '1', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '2', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '2', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '3', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '3', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '4', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '4', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">B</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '5', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '5', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '6', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '6', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '7', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '7', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '8', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '8', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">3</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '1', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '1', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '2', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '2', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '3', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '3', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '4', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '4', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">C</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '5', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '5', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '6', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '6', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '7', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '7', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '8', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '8', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">4</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '1', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '1', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '2', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '2', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '3', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '3', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '4', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '4', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">D</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '5', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '5', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '6', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '6', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '7', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '7', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '8', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '8', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">5</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '1', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '1', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '2', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '2', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '3', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '3', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '4', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '4', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">E</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '5', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '5', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '6', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '6', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '7', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '7', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '8', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '8', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
</tr>


<tr class="fnt-sm11">
    <td class="groupbg">6</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '1', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '1', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '2', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '2', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '3', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '3', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '4', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '4', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">F</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '5', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '5', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '6', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '6', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '7', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '7', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '8', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '8', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">7</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '1', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '1', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '2', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '2', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '3', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '3', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '4', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '4', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">G</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '5', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '5', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '6', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '6', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '7', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '7', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '8', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '8', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">8</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '1', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '1', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '2', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '2', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '3', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '3', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '4', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '4', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">H</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '5', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '5', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '6', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '6', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '7', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '7', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('THURS', '8', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('THURS', '8', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
</tr>


								<tr class="fnt-sm11">
    <td rowspan="8">Friday</td>
    <td class="groupbg">1 </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '1', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '1', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '2', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '2', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '3', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '3', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '4', '<%= year %>', '<%= subject %>', 1,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '4', year, subject, 1,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">A</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '5', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '5', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '6', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '6', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '7', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '7', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '8', '<%= year %>', '<%= subject %>', 'A','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '8', year, subject, 'A',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">2</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '1', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '1', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '2', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '2', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '3', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '3', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '4', '<%= year %>', '<%= subject %>', 2,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '4', year, subject, 2,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">B</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '5', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '5', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '6', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '6', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '7', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '7', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '8', '<%= year %>', '<%= subject %>', 'B','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '8', year, subject, 'B',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">3</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '1', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '1', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '2', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '2', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '3', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '3', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '4', '<%= year %>', '<%= subject %>', 3,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '4', year, subject, 3,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">C</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '5', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '5', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '6', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '6', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '7', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '7', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '8', '<%= year %>', '<%= subject %>', 'C','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '8', year, subject, 'C',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">4</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '1', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '1', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '2', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '2', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '3', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '3', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '4', '<%= year %>', '<%= subject %>', 4,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '4', year, subject, 4,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">D</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '5', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '5', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '6', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '6', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '7', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '7', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '8', '<%= year %>', '<%= subject %>', 'D','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '8', year, subject, 'D',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">5</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '1', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '1', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '2', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '2', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '3', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '3', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '4', '<%= year %>', '<%= subject %>', 5,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '4', year, subject, 5,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">E</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '5', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '5', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '6', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '6', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '7', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '7', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '8', '<%= year %>', '<%= subject %>', 'E','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '8', year, subject, 'E',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">6</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '1', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '1', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '2', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '2', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '3', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '3', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '4', '<%= year %>', '<%= subject %>', 6,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '4', year, subject, 6,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">F</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '5', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '5', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '6', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '6', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '7', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '7', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '8', '<%= year %>', '<%= subject %>', 'F','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '8', year, subject, 'F',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">7</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '1', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '1', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '2', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '2', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '3', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '3', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '4', '<%= year %>', '<%= subject %>', 7,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '4', year, subject, 7,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">G</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '5', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '5', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '6', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '6', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '7', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '7', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '8', '<%= year %>', '<%= subject %>', 'G','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '8', year, subject, 'G',sub_semster,course).html_safe %></a> </td>
</tr>

<tr class="fnt-sm11">
    <td class="groupbg">8</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '1', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '1', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '2', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '2', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '3', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '3', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '4', '<%= year %>', '<%= subject %>', 8,'<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '4', year, subject, 8,sub_semster,course).html_safe %></a> </td>
    <td></td> <!-- Blank column -->
    <td class="groupbg">H</td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '5', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '5', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '6', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '6', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '7', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '7', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
    <td><a href="javascript:;" onclick="process_delete_time_sheet('FRI', '8', '<%= year %>', '<%= subject %>', 'H','<%=sub_semster%>');" class="delehvr" title="Click to Delete"><%= get_timetable('FRI', '8', year, subject, 'H',sub_semster,course).html_safe %></a> </td>
</tr>