
												
											 
							
							<tr>
							
							
								<td>Monday</td>
								
								<td><%= get_faculty_timetable('MON', '1',year,faculty).to_s.html_safe %> </td>


								
								<td> <%= get_faculty_timetable('MON', '2',year,faculty).to_s.html_safe %> </td>
								
							  	<td><%= get_faculty_timetable('MON', '3',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('MON', '4',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('MON', '5',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('MON', '6',year,faculty).to_s.html_safe  %>  </td>
                            	<td><%= get_faculty_timetable('MON', '7',year,faculty).to_s.html_safe  %> </td>	
                                <td><%= get_faculty_timetable('MON', '8',year,faculty).to_s.html_safe  %> </td>
                                      
											
								</tr>

								<tr>
							
								<td>Tuesday</td>
                            	<td><%= get_faculty_timetable('TUES', '1',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('TUES', '2',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('TUES', '3',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('TUES', '4',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('TUES', '5',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('TUES', '6',year,faculty).to_s.html_safe  %> </td>
                            	<td><%= get_faculty_timetable('TUES', '7',year,faculty).to_s.html_safe  %> </td>	
                                <td><%= get_faculty_timetable('TUES', '8',year,faculty).to_s.html_safe  %> </td>
                            
								</tr>

								<tr>
							
								<td>Wednesday</td>
                            	<td><%= get_faculty_timetable('WED', '1',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('WED', '2',year,faculty).to_s.html_safe   %> </td>
							  	<td><%= get_faculty_timetable('WED', '3',year,faculty).to_s.html_safe   %> </td>
                                <td><%= get_faculty_timetable('WED', '4',year,faculty).to_s.html_safe   %> </td>
							  	<td><%= get_faculty_timetable('WED', '5',year,faculty).to_s.html_safe   %> </td>
                                <td><%= get_faculty_timetable('WED', '6',year,faculty).to_s.html_safe   %> </td>
                            	<td><%= get_faculty_timetable('WED', '7',year,faculty).to_s.html_safe   %> </td>	
                                <td><%= get_faculty_timetable('WED', '8',year,faculty).to_s.html_safe   %> </td>
                             
								</tr>

								<tr>
							
								<td>Thursday</td>
                            	<td><%= get_faculty_timetable('THURS', '1',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('THURS', '2',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('THURS', '3',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('THURS', '4',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('THURS', '5',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('THURS', '6',year,faculty).to_s.html_safe  %> </td>
                            	<td><%= get_faculty_timetable('THURS', '7',year,faculty).to_s.html_safe  %> </td>	
                                <td><%= get_faculty_timetable('THURS', '8',year,faculty).to_s.html_safe  %> </td>
                             
								</tr>

								<tr>
							
								<td>Friday</td>
                            	<td><%= get_faculty_timetable('FRI', '1',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('FRI', '2',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('FRI', '3',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('FRI', '4',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('FRI', '5',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('FRI', '6',year,faculty).to_s.html_safe  %> </td>
                            	<td><%= get_faculty_timetable('FRI', '7',year,faculty).to_s.html_safe  %> </td>	
                                <td><%= get_faculty_timetable('FRI', '8',year,faculty).to_s.html_safe  %> </td>
                             
								</tr>

								<tr>
							
								<td>Saturday</td>
                            	<td><%= get_faculty_timetable('SAT', '1',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('SAT', '2',year,faculty).to_s.html_safe  %></td>
							  	<td><%= get_faculty_timetable('SAT', '3',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('SAT', '4',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('SAT', '5',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('SAT', '6',year,faculty).to_s.html_safe  %> </td>
                            	<td><%= get_faculty_timetable('SAT', '7',year,faculty).to_s.html_safe  %> </td>	
                                <td><%= get_faculty_timetable('SAT', '8',year,faculty).to_s.html_safe  %></td>
                             
								</tr>

								<tr>
							
								<td>Sunday</td>
                            	<td><%= get_faculty_timetable('SUN', '1',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('SUN', '2',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('SUN', '3',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('SUN', '4',year,faculty).to_s.html_safe  %> </td>
							  	<td><%= get_faculty_timetable('SUN', '5',year,faculty).to_s.html_safe  %> </td>
                                <td><%= get_faculty_timetable('SUN', '6',year,faculty).to_s.html_safe  %> </td>
                            	<td><%= get_faculty_timetable('SUN', '7',year,faculty).to_s.html_safe  %> </td>	
                                <td><%= get_faculty_timetable('SUN', '8',year,faculty).to_s.html_safe  %> </td>
                           
								</tr>
										