

					 <% 
					 p = 1
					 if defaulters.any? %>
      <% defaulters.each do |d| 
			                          coursename = ""
										courseobj = get_course_detail(d.feepr_course)
										if courseobj  
											coursename = courseobj.crse_descp
										end
		%>
							<tr>
								<td><%=p%></td>
								<td><%=d.feepr_rollno%></td>
								<td><%=d.feepr_name%></td>
								<td>
									<%=coursename%>
								</td>
								<td>
								<%=d.feepr_sem%>
								</td>
								<td align="right"> <%=currency_formatted(d.feeamount)%> </td>
								<td align="right"> <%= currency_formatted(d.receivedamount)%></td>
							</tr>
							<%
						p += 1
						end %>
							<% else %>
							  <tr><td colspan="5" class="text-center">No defaulters found.</td></tr>
							<% end %>
						