<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Add Segment</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
			<div class="row">
	       <div class="col-md-12 col-sm-12">
		<a href="<%=root_url%>segment_list?page=<%=params[:page] %>" style="float:right;">	<button type="button" class="btn btn-circle btn-info "><i class="fa fa-arrow-left"></i> Back to list</button> </a>
		</div>
		</div>
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
					<%= form_tag({:action=>'create'} ,:multipart=>true,:id=>'myForms' ) do  %>
            <input type="hidden" name="mid" id="mid" value="<% if @segment %><%=@segment.id%><% end %>"/>
					<div class="form-body">
						
					<div class="form-group row">
					<label class="col-md-3"> Segment Code
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<input name="seg_shortcode" id="seg_shortcode" type="text"  placeholder="Enter Segment Code"
					autocomplete="off" maxlength="29" class="form-control" value="<% if @segment%><%=@segment.seg_shortcode%><% end %>"/> 
					</div>

					<label class="col-md-3">Segment Description
				</label>
				<div class="col-md-3">
				<input name="seg_description" id="seg_description" type="text" placeholder="Enter Segment Description"
				autocomplete="off" maxlength="79" class="form-control" value="<% if @segment%><%=@segment.seg_description%><% end %>"/> 
				</div>

				</div>

						<div class="form-group row">

						<label class="col-md-3">Active
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
													for="seg_status">
													<input type="hidden" name="seg_status" value="N">
       			 <input type="checkbox" id="seg_status" name="seg_status" class="mdl-switch__input" value="Y" <%= @segment&.seg_status == 'Y' ? 'checked' : '' %>>

												</label>
				
					</div>
					</div>
		
							<div class="form-group form-button text-center  m-b-20" style="margin-top: 50px;">
							<button type="submit"
							class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">SUBMIT</button>
								<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active process_loader" style="display:none;"></div>
							<a href="<%=root_url%>segment_list?page=<%=params[:page] %>">	<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Quit</button> </a>
							</div>
					</div>
				</form>
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>