<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper">
    <div class="page-content" >
           
    <div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Fee Structure</div>
							</div>
							<%= render "layouts/breadcrumbs" %>
						</div>
            
					</div>
       
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-sm-12">
									<div class="card">
								
										<div class="card-body ">
                    <% if flash[:error] %>
                    <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                      <%= flash[:error] %>
                    </div>
                   <% end %>
                    
                    <%= form_tag({:action=>'index'} ,method: :get ,:multipart=>true,:id=>'myForms') do  %>
                    <input type="hidden"  id="rootXPath" value="<%=root_url%>"/>                                        
                      <input type="hidden" name="server_request" id="server_request" value="Y"/>
                    <div class="row m-b-10">
                 <label class="col-sm-12 col-md-1">Year</label>
                    <div class="col-sm-12 col-md-3">  
                    <select class="form-select select-height"  name="year_search" id="year_search">
                  <option value="">Select...</option>
                  <option value="2024"<% if @year_search && @year_search.to_i == 2024 %>selected<% end%>>2024</option>
                  <option value="2025"<% if @year_search && @year_search.to_i == 2025 %>selected<% end%>>2025</option>

                </select>
                    </div>
                     <label class="col-sm-12 col-md-1">Course </label>
                    <div class="col-sm-12 col-md-3">  
                    	<select class="form-select select-height"  name="course_search" id="course_search">
                  <option value="">Select...</option>
                   <%
                        if @CourseList && @CourseList.length>0
                            @CourseList.each do |course|
                    %>
                    <option value="<%=course.id%>" <% if @course_search && @course_search.to_i == course.id.to_i %>selected="selected"<% end %>><%=course.crse_code%></option>
                    <%
                    end
                    end
                    %>
                </select>
                    </div>
                    <div class="col-sm-12 col-md-1 ">  
                    <button data-bs-toggle="button" class="btn btn-circle btn-default" onclick="process_search_fee();"><i class="fa fa-search"></i>
											</button>
                      <div class="col-sm-12 col-md-1 show_loader hidden">
                    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner  " >
                      <img src="<%=root_url%>/images/spining_loader.gif" width="30px">
                    </div>
                  </div>
                    </div>
                    <div class="col-sm-12 col-md-3">  
                    <a href="<%=root_url%>fee_list/referesh_fee_list" class="float-right">
                    <button type="button" class="btn btn-circle btn-info "><i class="fa fa-refresh"></i> Reset</button> </a>
                    </div>
                    </div>  

                      <%end%>
                      <div class="row">
                      <div class="col-sm-12 col-md-3">  
                      <a href="<%=root_url%>fee_list/add_fee_structure"  class="">
                      <button type="button" class="btn btn-circle btn-success"><i class="fa fa-plus"></i> Add Fee Structure</button> </a>
                      </div>
                      <div class="col-sm-12 col-md-9 hidden">  
                      <a href="javascript:;" target="_blank" class="float-right" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Click for excel download">
                      <button type="button" class="btn dark btn-outline m-b-10" style="float:right;">CSV</button> </a>
                      </div>
                      </div>
                   
                      <div class="table-scrollable">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Component</th>
                            <th>1st Sem</th>
                            <th>2nd Sem</th>
                            <th>3rd Sem</th>
                            <th>4th Sem</th>
                            <th>5th Sem</th>
                            <th>6th Sem</th>
                            <th class="hidden">Action</th>
                          </tr>
                        </thead>
                            <tbody  id="process_fee_list" >
            <tr>
                <td colspan="4">No Redord(s) found.</td>            
            </tr>

    </tbody>
                      </table>
                    </div>
										
                    <div class="col-md-12 text-center"></div>
                    
										</div>
									</div>
								</div>

                </div>
                </div>
                </div>
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>

