<tr>
							
								<td>1</td>
								<td>Admission Fee</td>
								<td><%= get_feelist('Adm Fee', '1',year,course).to_s.html_safe %> </td>
								<td> <%= get_feelist('Adm Fee', '2',year,course).to_s.html_safe %> </td>
							  	<td><%= get_feelist('Adm Fee', '3',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('Adm Fee', '4',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('Adm Fee', '5',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('Adm Fee', '6',year,course).to_s.html_safe  %> </td>
								</tr>
								<tr>
							    <td>2</td>
								<td>Caution Fee</td>
								<td><%= get_feelist('Cautn Fee', '1',year,course).to_s.html_safe %> </td>
								<td> <%= get_feelist('Cautn Fee', '2',year,course).to_s.html_safe %> </td>
							  	<td><%= get_feelist('Cautn Fee', '3',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('Cautn Fee', '4',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('Cautn Fee', '5',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('Cautn Fee', '6',year,course).to_s.html_safe  %> </td>								</tr>
                                <tr>
							<td>3</td>
								<td>Institutional Fee</td>
								<td><%= get_feelist('INST FEE', '1',year,course).to_s.html_safe %> </td>
								<td> <%= get_feelist('INST FEE', '2',year,course).to_s.html_safe %> </td>
							  	<td><%= get_feelist('INST FEE', '3',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('INST FEE', '4',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('INST FEE', '5',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('INST FEE', '6',year,course).to_s.html_safe  %> </td>								</tr>
                                <tr>
							<td>4</td>
								<td>JNU Fee (Regn. & Other)</td>
								<td><%= get_feelist('JNU Fee', '1',year,course).to_s.html_safe %> </td>
								<td> <%= get_feelist('JNU Fee', '2',year,course).to_s.html_safe %> </td>
							  	<td><%= get_feelist('JNU Fee', '3',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('JNU Fee', '4',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('JNU Fee', '5',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('JNU Fee', '6',year,course).to_s.html_safe  %> </td>	
								</tr>
                                 <tr>
							<td>5</td>
								<td>Lunch charges</td>
								<td><%= get_feelist('Lunch chg', '1',year,course).to_s.html_safe %> </td>
								<td> <%= get_feelist('Lunch chg', '2',year,course).to_s.html_safe %> </td>
							  	<td><%= get_feelist('Lunch chg', '3',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('Lunch chg', '4',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('Lunch chg', '5',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('Lunch chg', '6',year,course).to_s.html_safe  %> </td>
								</tr>
                                  <tr>
							<td>6</td>
								<td>Continuous Assessment/ Grading / Exam Fee</td>
								<td><%= get_feelist('M.T. FEE', '1',year,course).to_s.html_safe %> </td>
								<td> <%= get_feelist('M.T. FEE', '2',year,course).to_s.html_safe %> </td>
							  	<td><%= get_feelist('M.T. FEE', '3',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('M.T. FEE', '4',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('M.T. FEE', '5',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('M.T. FEE', '6',year,course).to_s.html_safe  %> </td>
								</tr>
                                 <tr>
							<td>7</td>
								<td>NCHM Exam Fee</td>
								<td><%= get_feelist('NCHM Exam', '1',year,course).to_s.html_safe %> </td>
								<td> <%= get_feelist('NCHM Exam', '2',year,course).to_s.html_safe %> </td>
							  	<td><%= get_feelist('NCHM Exam', '3',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('NCHM Exam', '4',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('NCHM Exam', '5',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('NCHM Exam', '6',year,course).to_s.html_safe  %> </td>
								</tr>
                                 <tr>
							<td>8</td>
								<td>NCHM Fee (Enrolment & Perchment )</td>
								<td><%= get_feelist('NCHM Fee', '1',year,course).to_s.html_safe %> </td>
								<td> <%= get_feelist('NCHM Fee', '2',year,course).to_s.html_safe %> </td>
							  	<td><%= get_feelist('NCHM Fee', '3',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('NCHM Fee', '4',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('NCHM Fee', '5',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('NCHM Fee', '6',year,course).to_s.html_safe  %> </td>
								</tr>
                                 <tr>
							<td>9</td>
								<td>Tuition Fee</td>	
								<td><%= get_feelist('TuitionFee', '1',year,course).to_s.html_safe %> </td>
								<td> <%= get_feelist('TuitionFee', '2',year,course).to_s.html_safe %> </td>				
							  	<td><%= get_feelist('TuitionFee', '3',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('TuitionFee', '4',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('TuitionFee', '5',year,course).to_s.html_safe  %> </td>
                                <td><%= get_feelist('TuitionFee', '6',year,course).to_s.html_safe  %> </td>
								</tr>