<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Stock Receipt</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
			<div class="row">
	       <div class="col-md-12 col-sm-12">
		<a href="<%=root_url%>stock_receipt_list" style="float:right;">	<button type="button" class="btn btn-circle btn-info "><i class="fa fa-arrow-left"></i> Back to list</button> </a>
		</div>
		</div>
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
		
			<%= form_tag({action: 'index'}, multipart: :true, id: :myforms, class: "form-horizontal") do  %>
            <input type="hidden" name="mid" id="mid" value="<% if @transaction %><%=@transaction.Id%><% end %>"/>
			<input type="hidden" name="stock_type" id="stock_type" value="ISS"/>
			<input type="hidden" name="stock_no" id="stock_no" value="<% if @transaction%><%=@transaction.stock_no%><% else %><%=@LastcodeISS%><% end %>"/>

					<input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
					<div class="form-body">
						
						
						<div class="form-group row">
						<label class=" col-md-3 col-6">Agency Code
						<span class="required"> * </span>
						</label>
						<label class="col-md-3  col-6">
						<%
						 if @UserList
						%>

						<%=@UserList.agency%>

						<% end %>

						</label>
						<label class=" col-md-3 col-6">Market Name
						<span class="required"> * </span>
						</label>
						<div class="col-md-3">
						<select onchange="get_wd_list_from_market();" class="form-control bg-light-blue" name="Ref_city_id" id="Ref_city_id" required> 
						<option value="">--Select-- </option>
						<% @cities.each do |city| %>
          				<option value="<%= city.Id %>" <%= 'selected="selected"' if @transaction&.Ref_city_id == city.Id %>><%= city.City %></option>
       					 <% end %>						
						 </select>
						</div>
					</div>
					
					<div class="form-group row">
							<label class="col-md-3">WD Name
								<span class="required"> * </span>
							</label>
							<div class="col-md-3">
							<select onchange="get_wd_address_list();" class="form-control bg-light-blue " name="Ref_Wd_Id" id="Ref_Wd_Id" required> 
							<option value="">--Select-- </option>

							<%
							 if  @wd &&  @wd.length >0
							@wd.each do |wd|
							
							%>
          					<option  value="<%= wd.Id %>" <%= 'selected="selected"' if @transaction&.Ref_Wd_Id.to_i  == wd.Id.to_i %>><%= wd.WDName %></option>
       						 <% end  end %>
							</select>
							</div>

							<label class="col-md-3">WD Address
						</label>
						<label class="col-md-3  col-6" id="wd_address"> 
									<%
									 if @AddressListed!=nil									
									%>
									<%=@AddressListed%>
									<% end %>
						</label>

						</div>


					<div class="form-group row">
					<label class="col-md-3">Activity Type
								<span class="required"> * </span>
							</label>
							<div class="col-md-3">
							<select class="form-control bg-light-blue " onchange="get_wd_activity_type();" name="Ref_Activity_id" id="Ref_Activity_id" required> 
							<option value="">--Select-- </option>
							<% 
							if @activities && @activities.length >0
							   @activities.each do |activities|
							
							%>
          					<option  value="<%= activities.id %>" <%= 'selected="selected"' if @transaction&.Ref_Activity_id.to_i == activities.id.to_i %>><%= activities.activity_type %></option>
       						 <% 
							    end 
							  end
							 %>							
							 </select>
							</div>

							<label class="col-md-3">Activity Name
						</label>
						<label class="col-md-3  col-6" id="Activity_Name_Listed">
								<%
								 if @ActivityNames
								%>
								<%=@ActivityNames%>
								<% end %>
						</label>
				</div>


						<div class="form-group row">
						<label class="col-md-3">Activity Brief Number
						</label>
						<div class="col-md-3">
						<input name="Activity_Brief_Number" maxlength="25" id="Activity_Brief_Number" type="text" placeholder="Activity Brief Number" autocomplete="off"  class="form-control" value="<% if @transaction%><%=@transaction.Activity_Brief_Number%><% end %>"/> 
						</div>
						<label class="col-md-3">Segment Type  
						<span class="required"> * </span>
						</label>
						<div class="col-md-3 ">
						<select class="form-control bg-light-blue"  name="Segment_Type" id="Segment_Type" required> 
							<option value="">--Select-- </option>
							<%
							 if @segments && @segments.length >0
							 @segments.each do |segments| 
							
							%>
          					<option  value="<%= segments.id %>" <%= 'selected="selected"' if @transaction&.Segment_Type.to_i  == segments.id.to_i %>><%= segments.seg_description %></option>
       						 <% end 
							   end
							 %>
						</select>

						</div>

					</div>
						
						<div class="form-group row">
						<label class="col-md-3">Brand  
							<span class="required"> * </span>
						</label>
						<div class="col-md-3">
						<select class="form-control bg-light-blue " name="Ref_Brand_id" id="Ref_Brand_id" required> 
							<option value="">--Select-- </option>
							<%
							 if @brands && @brands.length >0
							 @brands.each do |brands| 
							
							%>
          					<option  value="<%= brands.id %>" <%= 'selected="selected"' if @transaction&.Ref_Brand_id.to_i  == brands.id.to_i %>><%= brands.Brand_Name %></option>
       						 <% end 
							   end
							 %>
							</select>
						</div>
						<label class="col-md-3"> Variant
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<select class="form-control bg-light-blue " maxlength="250" name="Brand_Variant" id="Brand_Variant" required> 
							<option value="">--Select-- </option>
							<%if @variants && @variants.length >0
							 @variants.each do |variants| %>
          					<option  value="<%= variants.id %>" <%= 'selected="selected"' if @transaction&.Brand_Variant.to_i  == variants.id.to_i %>><%= variants.vt_description %></option>
       						 <% end 
							   end
							 %>
							</select>
					</div>
					</div>

					<div class="form-group row">
						<label class="col-md-3">Pack Size
					<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<select class="form-control bg-light-blue " maxlength="250" name="Pack_Size" id="Pack_Size" required> 
							<option value="">--Select-- </option>
							<%if @pack_size && @pack_size.length >0
							 @pack_size.each do |pack_size| %>
          					<option  value="<%= pack_size.id %>" <%= 'selected="selected"' if @transaction&.Pack_Size.to_i  == pack_size.id.to_i %>><%= pack_size.ps_packsize %></option>
       						 <% end 
							   end
							 %>
							</select>
					</div>
					<label class="col-md-3">Date of Pickup  
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<input name="Date_of_pickup" id="Date_of_pickup" type="text" placeholder="Select Date" autocomplete="off" maxlength="20" class="form-control" required value="<% if @transaction%><%=formatted_date(@transaction.Date_of_pickup)%><% end %>"/>
					</div>
				
					</div>

					<div class="form-group row">
					
					<label class="col-md-3">Stock Picked up
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<input onkeyup ="process_calc();" name="StockQty_pickup" id="StockQty_pickup" type="text" onkeypress="return isNumberMyKeys(event);" placeholder="Stock Picked up" autocomplete="off" maxlength="20" class="form-control" required value="<% if @transaction%><%=currency_formatted(@transaction.StockQty_pickup)%><% end %>"/>
					</div>
					<label class="col-md-3">Value of Stock
					</label>
					<div class="col-md-3">
					<input onkeyup ="process_calc();" name="Value_for_stock" id="Value_for_stock" type="text"  onkeypress="return isNumberMyKeys(event);"  placeholder="Value of Stock"	autocomplete="off" maxlength="20" class="form-control" value="<% if @transaction%><%=currency_formatted(@transaction.Value_for_stock)%><% end %>"/>
					</div>
					</div>

					<div class="form-group row">
					<label class="col-md-3">Rate Per Stick
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<input name="Rate_per_Stick" id="Rate_per_Stick" readonly type="text" placeholder="Rate Per Stick" autocomplete="off" maxlength="20" class="form-control" required value="<% if @transaction%><%=currency_formatted(@transaction.Rate_per_Stick)%><% end %>"/>
					</div>
					
					<label class="col-md-3">Remarks
					</label>
					<div class="col-md-3">
					<input maxlength="250" name="Remarks" id="Remarks" type="text"  placeholder="Enter Remarks"	autocomplete="off" maxlength="150" class="form-control" value="<% if @transaction%><%=@transaction.Remarks%><% end %>"/>
					</div>
					</div>

					<div class="form-group row">
					<label class="col-md-3">Stock Receiver Name
						
					</label>
					<div class="col-md-3">
					<input name="Stock_receiver_Name" id="Stock_receiver_Name" type="text" placeholder="Stock Receiver Name" autocomplete="off" maxlength="100" class="form-control" value="<% if @transaction%><%=@transaction.Stock_receiver_Name%><% end %>"/>
					</div>

					<label class="col-md-3">Stock Receiver Designation
					</label>
					<div class="col-md-3">
					<input maxlength="250" name="Stock_receiver_Designation" id="Stock_receiver_Designation" type="text"  placeholder="Stock Receiver Designation"	autocomplete="off" maxlength="100" class="form-control"  value="<% if @transaction%><%=@transaction.Stock_receiver_Designation%><% end %>"/>
					</div>
					</div>

					<div class="form-group row">
					<label class="col-md-3">Stock Receiver Mobile No.
						
					</label>
					<div class="col-md-3">
					<input name="Stock_receiver_MobileNo" id="Stock_receiver_MobileNo" type="text" placeholder="Stock Receiver Mobile No."  onkeypress="return isNumberMyKeys(event);" autocomplete="off" maxlength="10" class="form-control" value="<% if @transaction%><%=@transaction.Stock_receiver_MobileNo%><% end %>"/>
					</div>

					
							<div class="form-group form-button text-center  m-b-20" style="margin-top: 50px;">
							<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">Save</button>
								<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active process_loader" style="display:none;"></div>
							<a href="<%=root_url%>stock_receipt_list">	<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Quit</button> </a>
							</div>
					</div>
				
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>