<div class="page-wrapper">

<%= render "layouts/header" %>

<!-- start page container -->

		<div class="page-container">

		<%= render "layouts/sidebar" %>

 <div class="page-content-wrapper">

    <div class="page-content" >

           

    <div class="page-bar">

						<div class="page-title-breadcrumb">

							<div class=" pull-left">

								<div class="page-title">Holidays</div>

							</div>

							<%= render "layouts/breadcrumbs" %>

						</div>

            

					</div>

       

					<div class="row">

						<div class="col-md-12">

							<div class="row">

								<div class="col-sm-12">

									<div class="card">

								

										<div class="card-body ">

                    <% if flash[:error] %>

                    <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">

                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

                      <%= flash[:error] %>

                    </div>

                   <% end %>

                    <input type="hidden"  id="rootXPath" value="<%=root_url%>"/>                                        

                      <input type="hidden" name="server_request" id="server_request" value="Y"/>

                    <%= form_tag({:action=>'index'} ,:multipart=>true,:id=>'myForms') do  %>

                    <div class="row m-b-10">

                   <label class="col-sm-12 col-md-1">Search</label>

                    <div class="col-sm-12 col-md-4">  <input type="text" class="form-control" name="holiday_list" id="holiday_list"  autocomplete="off" placeholder="Enter Holiday"  value="<% if @holiday_list_search %><%=@holiday_list_search%><% end %>"/></div>

                  

                    <div class="col-sm-12 col-md-1 no_loader">  

                    <button data-bs-toggle="button" onclick="filter_holiday_list();" class="btn btn-circle btn-default" ><i class="fa fa-search"></i>

											</button>

                    </div>

                    <div class="col-sm-12 col-md-1 show_loader hidden">

                    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner  " >

                      <img src="<%=root_url%>/images/spining_loader.gif" width="30px">

                    </div>

                  </div>

                    <div class="col-sm-12 col-md-6">  

                    <a href="<%=root_url%>holiday/referesh_holiday" class="float-right">

                    <button type="button" class="btn btn-circle btn-info "><i class="fa fa-refresh"></i> Reset</button> </a>

                    </div>

                    </div>  



                      <%end%>

                      <div class="row">

                      <div class="col-sm-12 col-md-3">  

                      <a href="<%=root_url%>holiday/add_holiday"  class="">

                      <button type="button" class="btn btn-circle btn-success"><i class="fa fa-plus"></i> Add Holiday</button> </a>

                      </div>

                         <% if @holiday_list && @holiday_list.length>0 %>

                          

                      <div class="col-sm-12 col-md-9 ">  

                      <a href="<%=root_url%>holiday/1_prt_holiday_list.pdf" target="_blank" class="float-right" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Click for pdf download">

                      <button type="button" class="btn dark btn-outline m-b-10" style="float:right;">PDF</button> </a>

                      </div>

                      <% end %>

                      </div>

									

                      <table 

                      class="table table-striped table-bordered table-hover "

                      id="example4">

													<thead>

                          <tr>

															<th>S.No</th>

                              <th>Holiday Date</th>

                            	<th>Holiday Description</th>

                              <th>Action</th>

														</tr>

													</thead>

													<tbody>

                                        <% pagestart = params[:page].present? ? params[:page].to_i : 1 %>

                          <% i = pagestart <= 1 ? 1 : ((pagestart - 1) * 10) + 1 %>



                          <% if @holiday_list && @holiday_list.length>0 %>

                            <% @holiday_list.each do |holiday| %>          

										

														  <tr  class="odd gradeX">

															<td><%= i %></td>

                            	<td><%= formatted_date(holiday.holiday_date) %></td>

                              <td><%= holiday.holiday_descp %></td>

                            

                              <td> 

                              <a href="<%= root_url %>holiday/add_holiday/<%= holiday.id %>"

                                class="tblEditBtn">

                                <i class="fa fa-pencil"></i>

                              </a> 

                             <% if @myDeletAld %>

                              <a class="tblDelBtn" onclick="alertChecked('<%= root_url %>holiday/<%= holiday.id %>/deletes')">

                                <i class="fa fa-trash-o"></i>

                              </a><% end %>

                            </td>

														</tr>

                           <% i += 1 %>

                            <% end %>

                            <% end %>

													</tbody>

												</table>

										

                     

                    <div class="col-md-12 text-center"></div>

                    

										</div>

									</div>

								</div>



                </div>

                </div>

                </div>

        

			</div>

	 	</div>	 



    </div>

	<!-- End page container -->

</div>



