<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper">
    <div class="page-content" >
           
    <div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Print Student ID Card</div>
							</div>
							<%= render "layouts/breadcrumbs" %>
						</div>
					</div>
       
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-sm-12">
									<div class="card">
								
										<div class="card-body ">
                  
                    <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>'myForms' ) do  %>
                      <input type="hidden"  id="rootXPath" value="<%=root_url%>"/>                                        
                      <input type="hidden" name="server_request" id="server_request" value="Y"/>
                      <div class = "form-group row">
                    <label class="col-sm-12 col-md-2"> Course Code</label>
                    <div class="col-sm-12 col-md-3"> 
                    <select name="course_code" id="course_code" class="form-select select-height">
                    <option value="">Select...</option>
                    <%
                        if @CourseList && @CourseList.length>0
                            @CourseList.each do |course|
                    %>
                    <option value="<%=course.id%>" <% if @course_search && @course_search.to_i == course.id.to_i %>selected="selected"<% end %>><%=course.crse_code%></option>
                    <%
                    end
                    end
                    %>
                    </select>
                    </div>
                    </div>

                    <div class="row margin-top-10 m-b-20">
                    <label class="col-sm-12 col-md-2">Roll No. From
                    <span class="text-danger"> * </span>
                    </label>
                    <div class="col-sm-12 col-md-3"> <input type="text" class="form-control " name="stdnt_roll_no" id="stdnt_roll_no" autocomplete="off"  placeholder="Roll No. From"  value="<% if @stdnt_roll_no %><%=@stdnt_roll_no%><% end %>"/></div>
                 
                 
                    <label class="col-sm-12 col-md-1">Upto 
                      <span class="text-danger"> * </span>
                    </label>
                    <div class="col-sm-12 col-md-3"> <input type="text" class="form-control " name="roll_no_upto" id="roll_no_upto" autocomplete="off"  placeholder="Roll No. Upto"  value="<% if @roll_no_upto %><%=@roll_no_upto%><% end %>"/></div>
                    </div>
                    </div>
                    <div class="form-group row margin-top-10 m-b-20 text-center">

                    <div class="col-md-12 m-t-20">
                      <label for="mylic" class="rad-btn"> <input type="radio" checked="" name="id_detail" id="id_detail" value="ID">&nbsp;
                      Print Id Card</label>
                     
                    </div>
          
                    
                    <div class="col-md-12 text-center m-t-20"  >                      
                    <a href="javascript:;" rel="print_student_id_card/1_prt_student_id_card.pdf" id="printexceled" data-placement="bottom" data-toggle="tooltip" data-original-title="Click for Pdf download" onclick="print_student_id();" > 
                    <button type="button" class="btn btn-circle btn-success"><i class="fa fa-print"></i> Print </button>
                    </a>   
                    </div>   
          
                    </div>

                      <%end%>

										</div>
									</div>
								</div>

                </div>
                </div>
                </div>
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>

