<div class="card-box">
<input type="hidden" name="mdid" id="mdid" value="<% if @studentadmdtl%><%=@studentadmdtl.id%><% end %>"/>
<input type="hidden" name="curcertificate" id="curcertificate" value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_pwdcertificate%><% end %>"/>


					<div class="card-body ">
					<div class="form-group row">
					<label class="col-md-3">Course Code
					<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<select class="form-select select-height"  name="stdnt_dtl_crse" id="stdnt_dtl_crse">
							<option value="">Select...</option>
 						<%
                        if @CourseList && @CourseList.length>0
                            @CourseList.each do |course|
                    %>
                    <option value="<%=course.id%>" <% if @studentadmdtl && @studentadmdtl.stdnt_dtl_crse.to_i == course.id.to_i %>selected<% elsif session[:sess_stdnt_dtl_crse].to_s==course.id.to_i%>selected<% end %>><%=course.crse_descp%></option>
                    <%
                    end
                    end
                    %>
						</select>
					</div>
					
					<label class="col-md-3">Aadhar No.
					</label>
					<div class="col-md-3">
					<input name="stdnt_dtl_aadhaar" onkeypress="return isNumberMyKeys(event);" id="stdnt_dtl_aadhaar"  type="text"  placeholder="Enter Aadhar No."
					autocomplete="off" maxlength="12" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_aadhaar%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_aadhaar'] %><% end %>"/> 
					</div>
						
					</div>
					<div class="form-group row">
					<label class="col-md-3">Category
					<span class="required"> * </span>
				</label>
				<div class="col-md-3">
				<select class="form-select select-height"  name="stdnt_dtl_cat" id="stdnt_dtl_cat">
				<option value="">Select...</option>
						<%
                                                        if @CategoryList && @CategoryList.length>0
                                                            @CategoryList.each do |category|
                                                        %>
                                                        <option value="<%=category.id%>" <% if @studentadmdtl && @studentadmdtl.stdnt_dtl_cat.to_i == category.id.to_i %>selected<% elsif session[:sess_stdnt_dtl_cat].to_s==category.id.to_i%>selected<% end %>><%=category.cat_descp%></option>
                                                        <%
                                                        end
                                                        end
                                                        %>
					</select>
				</div>
				<label class="col-md-3">Contact No.
					<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<div class="input-group">
					<span class="input-group-addon iconinput-pd"><i class="fa fa-phone"></i></span>
					<input name="stdnt_dtl_cont" id="stdnt_dtl_cont"  type="text"  placeholder="Enter Contact No."
					autocomplete="off" onkeypress="return isNumberMyKeys(event);" maxlength="10" class="form-control" required value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_cont%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_cont'] %><% end %>"/> 
					</div>
					
					</div>
					</div>
					<div class="form-group row">
					<label class="col-md-3">Address 1
					<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<input name="stdnt_dtl_add1" id="stdnt_dtl_add1"  type="text"  placeholder="Enter Address 1"
					autocomplete="off" maxlength="150" class="form-control" required value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_add1%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_add1'] %><% end %>"/> 
					</div>
					<label class="col-md-3">Email Id
					</label>
					<div class="col-md-3">
					<div class="input-group">
					<span class="input-group-addon iconinput-pd"><i class="fa fa-envelope"></i></span>
					<input name="stdnt_dtl_email" id="stdnt_dtl_email"  type="email"  placeholder="Enter Email Id"
					autocomplete="off" maxlength="50" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_email%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_email'] %><% end %>"/> 
					</div>
				
					</div>
					</div>

						<div class="form-group row">
				
					<label class="col-md-3">Address 2
					</label>
					<div class="col-md-3">
					<input name="stdnt_dtl_add2" id="stdnt_dtl_add2"  type="text"  placeholder="Enter Address 2"
					autocomplete="off" maxlength="150" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_add2%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_add2'] %><% end %>"/> 
					</div>
					<label class="col-md-3">Bank Name
					</label>
					<div class="col-md-3">
					<input name="stdnt_dtl_bank" id="stdnt_dtl_bank"  type="text"  placeholder="Enter Bank Name"
					autocomplete="off" maxlength="50" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_bank%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_bank'] %><% end %>"/> 
					</div>
					</div>

						<div class="form-group row">
				
					<label class="col-md-3">City
					
					</label>
					<div class="col-md-3">
					<input name="stdnt_dtl_city" id="stdnt_dtl_city"  type="text"  placeholder="Enter City"
					autocomplete="off" maxlength="50" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_city%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_city'] %><% end %>"/> 
					</div>
					
					<label class="col-md-3">Branch Name
					</label>
					<div class="col-md-3">
					<input name="stdnt_dtl_branch" id="stdnt_dtl_branch"  type="text"  placeholder="Enter Branch Name"
					autocomplete="off" maxlength="50" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_branch%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_branch'] %><% end %>"/> 
					</div>
					</div>

					<div class="form-group row">
					<label class="col-md-3">Nationality
					<span class="required"> * </span>
				</label>
				<div class="col-md-3">
					<select class="form-select select-height"  required name="stdnt_dtl_nat" id="stdnt_dtl_nat">
						<option value="">Select...</option>
						<option value="I"<% if @studentadmdtl && @studentadmdtl.stdnt_dtl_nat.to_s == 'I'%>selected<% end %>>Indian</option>
						<option value="O" <% if @studentadmdtl && @studentadmdtl.stdnt_dtl_nat.to_s == 'O'%>selected<% end %>>Other</option>
					
					</select>
				</div>
						<label class="col-md-3">Bank Account Holder Name
					</label>
					<div class="col-md-3">
					<input name="stdnt_dtl_acctholder" id="stdnt_dtl_acctholder"  type="text"  placeholder="Enter Account Holder Name"
					autocomplete="off" maxlength="50" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_acctholder%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_acc'] %><% end %>"/> 
					</div>
						
					</div>

					<div class="form-group row">
				
					<label class="col-md-3">Hostel
					</label>
					<div class="col-md-3">
					<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="stdnt_dtl_hstl">
    				<input type="hidden" name="stdnt_dtl_hstl" value="N">
    				<input type="checkbox" id="stdnt_dtl_hstl" name="stdnt_dtl_hstl" class="mdl-switch__input" value="Y" <%= @studentadmdtl&.stdnt_dtl_hstl == 'Y' ? 'checked' : '' %>/>
					
				</label>
					</div>	
					<label class="col-md-3">Account No.
					</label>
					<div class="col-md-3">
					<input name="stdnt_dtl_acc" id="stdnt_dtl_acc"  type="text"  placeholder="Enter Account No."
					autocomplete="off" maxlength="50" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_acc%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_acc'] %><% end %>"/> 
					</div>
					
					</div>
                     <div class="form-group row">
					 <label class="col-md-3">Type of Course
					</label>
					<div class="col-md-3">
					 <select class="form-select select-height"   name="stdnt_dtl_typecourse" id="stdnt_dtl_typecourse">
						<option value="">Select...</option>
						<option value="Generic" <% if @studentadmdtl && @studentadmdtl.stdnt_dtl_typecourse.to_s == 'Generic'%>selected<% end %>>Generic</option>
						<option value="Veg" <% if @studentadmdtl && @studentadmdtl.stdnt_dtl_typecourse.to_s == 'Veg'%>selected<% end %>>Veg</option>
						<option value="Non-Veg" <% if @studentadmdtl && @studentadmdtl.stdnt_dtl_typecourse.to_s == 'Non-Veg'%>selected<% end %>>Non-Veg</option>
						
					</select>
					</div>
						<label class="col-md-3">IFSC Code
					</label>
					<div class="col-md-3">
					<input name="stdnt_dtl_ifsc" id="stdnt_dtl_ifsc"  type="text"  placeholder="Enter IFSC Code"
					autocomplete="off" maxlength="50" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_ifsc%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['stdnt_dtl_ifsc'] %><% end %>"/> 
					</div>
					</div>
					 <div class="form-group row">
					 <label class="col-md-3"> If Candidate belongs to PwD category, please specify the type of disability </label>
					 <div class="col-md-3">
					<input name="stdnt_dtl_pwd" id="stdnt_dtl_pwd"  type="text"  placeholder="Enter Disability type"
					autocomplete="off" maxlength="50" class="form-control"  value="<% if @studentadmdtl%><%=@studentadmdtl.stdnt_dtl_pwd%><% end %>"/> 
					</div>
					<%
						pullimgpath = "https://ihm-inqerp.b-cdn.net"
						if @studentadmdtl
							compcode = @studentadmdtl.stdnt_dtl_compcode
							pwd_img_path = @studentadmdtl.stdnt_dtl_pwdcertificate
						pwd_image_url = "#{pullimgpath}/#{compcode}/pwdcertificate/#{pwd_img_path}"
						end
					   %>
					 <label class="col-md-3" style="padding-right: 0px;"> Upload Disability Document 
				<% if @studentadmdtl %><% if @studentadmdtl.stdnt_dtl_pwdcertificate.present?%>	 <a href="<%=pwd_image_url%>" target="_blank" class="float-right" data-placement="bottom" data-toggle="tooltip" title="View Document"><i class="fa fa-eye"></i></a><% end %><% end %>
					 </label>
					 <div class="col-md-3">
				  <input type="file" name="stdnt_dtl_pwdcertificate" id="stdnt_dtl_pwdcertificate"/>
					</div>
					 </div>
					<div class="form-group form-button text-center  m-b-10 process_save " style="margin-top: 50px;">
					 <% if @myAddAld || @myEditAld %>
							<button type="button" onclick="process_save_student_details();"
							class="no_loader mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">SAVE</button> 
							<% end %>

							<div class=" hidden mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active process_loader loader"></div>	
							<a href="<%=root_url%>student_list">	<button type="button" class="no_loader mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Quit</button> </a>
							</div>
					
					</div>
					</div>