<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Fee Import Process</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
			<div class="row">
	       <div class="col-md-12 col-sm-12">
		<a href="<%=root_url%>component_list" class="float-right">	<button type="button" class="btn btn-circle btn-info hidden"><i class="fa fa-arrow-left"></i> Back to list</button> </a>
		</div>
		</div>
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
					 <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>'myForms') do  %>

			<input type="hidden"  id="rootXPath" value="<%=root_url%>"/>

                             <input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
                             <input type="hidden"  id="from_item" value=""/>
							 <input type="hidden"  id="process_file_data" name="process_file_data" value="employee"/>
                                         <div class="col-md-12">

                                 <strong>Note:</strong>&nbsp;You can upload only this file type(CSV).

				    <br/> <a href="<%=root_url%>ihm_fee_import_format.csv" target="_blank"><i class="fa fa-download mr5"></i>Download the required file format for importing Fee Data.</a>
					<br/>
                    	<br/> <input type="checkbox" name="checkscale_updated" id="checkscale_updated" value="Y" hidden/>
                             <div class="col-md-2">
							   <input type="file" name="file" id="file" accept=".csv" onchange="get_fee_import_process();"/>
							 </div>

						<div class="table-scrollable">
                            <table class="table" id="fee_import">

                            </table>
							 </div>
                        <div class="col-md-2 col-xs-5">
						    <div class="form-group form-button text-center  m-b-10" style="margin-top: 50px;">
							    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary hidden">SUBMIT</button>
                            </div>
					   </div>
			     </form>
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>