<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Add Component</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
			<div class="row">
	       <div class="col-md-12 col-sm-12">
		<a href="<%=root_url%>component_list" class="float-right">	<button type="button" class="btn btn-circle btn-info "><i class="fa fa-arrow-left"></i> Back to list</button> </a>
		</div>
		</div>
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
			<input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
			<%= form_tag({action: 'create'}, multipart: :true, id: :myforms, class: "form-horizontal") do  %>
			<input type="hidden" name="cur_comp_code" id="cur_comp_code" value="<% if @component %><%=@component.compt_code%><% end %>"/>
            <input type="hidden" name="mid" id="mid" value="<% if @component %><%=@component.id%><% end %>"/>
					<div class="form-body">
						
					<div class="form-group row">
					<label class="col-md-3">Component Code
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
					<input name="compt_code" id="compt_code"  autofocus="true" type="text"  placeholder="Enter Component Code"
					autocomplete="off" maxlength="10" class="form-control" required value="<% if @component%><%=@component.compt_code%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['compt_code'] %><% end %>"/> 
					</div>
				
					</div>
					<div class="form-group row">
					<label class="col-md-3">Component Description
					<span class="required"> * </span>
				</label>
					<div class="col-md-3">
					<input name="compt_descp" id="compt_descp"  autofocus="true" type="text"  placeholder="Enter Component Description"
					autocomplete="off" maxlength="100" class="form-control" required value="<% if @component%><%=@component.compt_descp%><% elsif session[:postedpamams] != nil %><%= session[:postedpamams]['compt_descp'] %><% end %>"/> 
									</div>

					</div>

						<div class="form-group row">
				
						<label class=" col-md-3 col-6">Active
					</label>
					<div class="col-md-3">
					<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="compt_active">
    				<input type="hidden" name="compt_active" value="N">
    				<input type="checkbox" id="compt_active" name="compt_active" class="mdl-switch__input" value="Y" <%= @component&.compt_active == 'Y' ? 'checked' : '' %>/>
					</label>
					</div>
					</div>

				

							<div class="form-group form-button text-center  m-b-20" style="margin-top: 50px;">
							<button type="submit"
							class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">SUBMIT</button>
								<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active process_loader" style="display:none;"></div>
							<a href="<%=root_url%>component_list">	<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Quit</button> </a>
							</div>
					</div>
				</form>
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>