<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Fee Process</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
		<div class="row">
	       <div class="col-md-12 col-sm-12">
		<a href="<%=root_url%>special_attendance_params/special_attendance_params_list" class="float-right">	<button type="button" class="btn btn-circle btn-info hidden"><i class="fa fa-arrow-left"></i> Back to list</button> </a>
		</div>
		</div>
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
			<%= form_tag({action: 'index'}, multipart: :true, id: :myforms, class: "form-horizontal") do  %>
			<input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
			<input type="hidden" name="mid" id="mid" value="<% if @fee_process %><%=@fee_process.id%><% end %>"/>
			<input type="hidden" class="form-control-sm" name="" id="" value="">

					<div class="form-body">

							<div class="form-group row">
						<label class="col-md-2">Year
					<span class="required"> * </span>
				</label>
				<div class="col-md-3">
					<select class="form-select select-height"  name="feepr_year" id="feepr_year" >
							<option value="">Select...</option>
							<option value="2023">2023</option>
							<option value="2024">2024</option>
                            <option value="2025">2025</option>
							<option value="2026">2026</option>
							<option value="2027">2027</option>
                            <option value="2028">2028</option>
							<option value="2029">2029</option>
						</select>
				</div>


							<div class="form-group form-button text-center  m-b-20" style="margin-top: 50px;">
										<button type="button" id="no_loader" class="btn btn-circle btn-info" onclick="common_process();">Generate Fee Process</button>

				<div class="col-sm-12 col-md-1 show_loader hidden">
                    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner  " >
                      <img src="<%=root_url%>/images/spining_loader.gif" width="30px">
                    </div>
                  </div>
							</div>

					</div>
				</form>
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>