<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Special Attendance Parameter</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
		<div class="row">
	       <div class="col-md-12 col-sm-12">
		<a href="<%=root_url%>special_attendance_params/special_attendance_params_list" class="float-right">	<button type="button" class="btn btn-circle btn-info "><i class="fa fa-arrow-left"></i> Back to list</button> </a>
		</div>
		</div>
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
			<%= form_tag({action: 'index'}, multipart: :true, id: :myforms, class: "form-horizontal") do  %>
			<input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
			<input type="hidden" name="mid" id="mid" value="<%if @special_attendance_param%><%=@special_attendance_param.id%><% end %>"/>
			<input type="hidden" class="form-control-sm" name="specialAttendParamId" id="specialAttendParamId" value="">

					<div class="form-body">

							<div class="form-group row">
						<label class="col-md-2">Year
					<span class="required"> * </span>
				</label>
				<div class="col-md-3">
					<select class="form-select select-height"  name="sp_attp_year" id="sp_attp_year" >
							<option value="">Select...</option>
							<option value="2024"<% if @special_attendance_param && @special_attendance_param.sp_attp_year.to_s == '2024'%>selected<% end %>>2024</option>
                            <option value="2025"<% if @special_attendance_param && @special_attendance_param.sp_attp_year.to_s == '2025'%>selected<% end %>>2025</option>
							<option value="2026"<% if @special_attendance_param && @special_attendance_param.sp_attp_year.to_s == '2026'%>selected<% end %>>2026</option>
							<option value="2027"<% if @special_attendance_param && @special_attendance_param.sp_attp_year.to_s == '2027'%>selected<% end %>>2027</option>
                            <option value="2028"<% if @special_attendance_param && @special_attendance_param.sp_attp_year.to_s == '2028'%>selected<% end %>>2028</option>
							<option value="2029"<% if @special_attendance_param && @special_attendance_param.sp_attp_year.to_s == '2029'%>selected<% end %>>2029</option>
						</select>
				</div>

	</div>

	<div class="form-group row">

	<label class="col-md-2">Course
					<span class="required"> * </span>
				</label>
				<div class="col-md-3">
					<select class="form-select select-height"  name="sp_attp_course" id="sp_attp_course" onchange="updateSemester();" >
							<option value="">Select...</option>
							<%
                        if @CourseList && @CourseList.length>0
                            @CourseList.each do |course|
                    %>
                    <option value="<%=course.id%>" <% if @special_attendance_param && @special_attendance_param.sp_attp_course.to_i == course.id.to_i %>selected<% elsif session[:sess_sp_attp_course].to_s==course.id.to_i%>selected<% end %>><%=course.crse_descp%></option>
                    <%
                    end
                    end
                    %>
						</select>
				</div>
						<label class="col-md-2">Semester
					<span class="required"> * </span>
				</label>
				<div class="col-md-3">
					<select class="form-select select-height" required name="sp_attp_sem" id="sub_sem" onchange="empty_faculty_club()">
						<option value="">Select...</option>
						  <% if @Listsemester && @Listsemester.any? %>
    						<% @Listsemester.each do |semester| %>
      							<option value="<%= semester %>" <% if @special_attendance_param && @special_attendance_param.sp_attp_sem.to_i == semester.to_i %>selected<% end %>><%= "Semester #{semester}" %></option>
								<% end %>
							<% end %>
					</select>
				</div>
	</div>
					<div class="form-group row">
					<label class="col-md-2">Faculty
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
                        <select class="form-select select-height" autofocus="true" required name="sp_attp_faculty" id="sp_attp_faculty" onchange="get_club_list()">
							<% if @faculty  %>
								<option value="">Select...</option>
								<% end %>
									<%
                        if @faculty && @faculty.length>0
                            @faculty.each do |faculty|
                    %>
                    <option value="<%=faculty.id%>" <% if @special_attendance_param && @special_attendance_param.sp_attp_faculty.to_i == faculty.id.to_i %>selected<% elsif session[:sess_sp_attp_faculty].to_s==faculty.id.to_i%>selected<% end %>><%=faculty.fclty_name%></option>
                    <%
                    end
                    end
                    %>
							</select>
					</div>
					
					<label class="col-md-2">Club
						<span class="required"> * </span>
					</label>
					<div class="col-md-3">
				<select class="form-select select-height" required name="sp_attp_club" id="sp_attp_club">
							<option value="">Select...</option>
							<%
                        if @HouseList && @HouseList.length>0
                            @HouseList.each do |house|
                    %>
                    <option value="<%=house.id%>" <% if @special_attendance_param && @special_attendance_param.sp_attp_club.to_i == house.id.to_i %>selected<% elsif session[:sess_sp_attp_club].to_s==house.id.to_i%>selected<% end %>><%=house.hs_house_name%></option>
                    <%
                    end
                    end
                    %>
						</select>
					</div>
					</div>

							<div class="form-group form-button text-center  m-b-20" style="margin-top: 50px;">
											<button type="button" onclick="process_save_special_attendance_params();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary" >SUBMIT</button>

								
							<a href="<%=root_url%>special_attendance_params/special_attendance_params_list">	<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Quit</button> </a>
							</div>
					</div>
				</form>
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>