<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper">
    <div class="page-content" >
           
    <div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Special Attendance Params List</div>
							</div>
							<%= render "layouts/breadcrumbs" %>
						</div>
            
					</div>
       
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-sm-12">
									<div class="card">
								
										<div class="card-body ">
                    <% if flash[:error] %>
                    <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                      <%= flash[:error] %>
                    </div>
                   <% end %>
                    <input type="hidden"  id="rootXPath" value="<%=root_url%>"/>                                        
                      <input type="hidden" name="server_request" id="server_request" value="Y"/>
                    <%= form_tag({:action=>'index'} ,:multipart=>true,:id=>'myForms') do  %>
                    <div class="row m-b-10">
                   <label class="col-sm-12 col-md-1">Search</label>
                    <div class="col-sm-12 col-md-4">  <input type="text" class="form-control" name="special_attendance_params_list" id="special_attendance_params_list"  autocomplete="off" placeholder=""  value="<% if @special_attendance_params_list_search %><%=@special_attendance_params_list_search%><% end %>"/></div>
                  
                    <div class="col-sm-12 col-md-1 no_loader">  
                    <button data-bs-toggle="button" onclick="filter_special_attendance_params_list();" class="btn btn-circle btn-default" ><i class="fa fa-search"></i>
											</button>
                    </div>
                    <div class="col-sm-12 col-md-1 show_loader hidden">
                    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner  " >
                      <img src="<%=root_url%>/images/spining_loader.gif" width="30px">
                    </div>
                  </div>
                    <div class="col-sm-12 col-md-6">  
                    <a href="<%=root_url%>special_attendance_params/referesh_special_attendance_params_list" class="float-right">
                    <button type="button" class="btn btn-circle btn-info hidden"><i class="fa fa-refresh"></i> Reset</button> </a>
                    </div>
                    </div>  

                      <%end%>
                      <div class="row"><% if @myAddAld || @myEditAld %>
                      <div class="col-sm-12 col-md-3">  
                      <a href="<%=root_url%>special_attendance_params"  class="">
                      <button type="button" class="btn btn-circle btn-success"><i class="fa fa-plus"></i> Assign Club to Faculty</button> </a>
                      </div><%end%>
                         <% if @special_attendance_params_list && @special_attendance_params_list.length>0 %>
                           <% if @myPrintAld %>
                      <div class="col-sm-12 col-md-9 hidden">  
                      <a href="<%=root_url%>special_attendance_params_list/1_prt_special_attendance_params_list.pdf" target="_blank" class="float-right" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Click for pdf download">
                      <button type="button" class="btn dark btn-outline m-b-10" style="float:right;">PDF</button> </a>
                      </div><% end %>
                      <% end %>
                      </div>
									
                      <table 
                      class="table table-striped table-bordered table-hover "
                      id="example4">
													<thead>
                          <tr>
															<th>S.No</th>
                              <th>Year</th>
                            	<th>Course</th>
                              <th>Semester</th>
                              <th>Faculty</th>
                              <th>Club</th>
                              <th>Action</th>
														</tr>
													</thead>
													<tbody>
                                        <% pagestart = params[:page].present? ? params[:page].to_i : 1 %>
                          <% i = pagestart <= 1 ? 1 : ((pagestart - 1) * 10) + 1 %>

                          <% if @special_attendance_params_list && @special_attendance_params_list.length>0 %>
                            <% @special_attendance_params_list.each do |special| %>          
										                              <%       
							courseobj = get_course_detail(special.sp_attp_course)
                            if courseobj
                               coursename = courseobj.crse_descp
                               coursecode = courseobj.crse_code
                            end

                            facultyobj = get_faculty_detail(special.sp_attp_faculty)
                            if facultyobj
                               facultyname = facultyobj.fclty_name
                            end
                            
                            clubobj = get_club_detail(special.sp_attp_club)
                            if clubobj
                               clubname = clubobj.hs_house_name
                            end
                                                        %>
														  <tr  class="odd gradeX">
															<td><%= i %></td>
                            	<td><%= special.sp_attp_year %></td>
                              <td><%= coursename %></td>
                             <td><%= special.sp_attp_sem %> Semester</td>
                            <td><%= facultyname %></td>
                             <td><%= clubname %> </td>

                              <td> <% if @myEditAld %>
                              <a href="<%= root_url %>special_attendance_params/<%= special.id %>"
                                class="tblEditBtn ">
                                <i class="fa fa-pencil"></i>
                              </a> <% end %>
                              <% if @myDeletAld %>
                              <a class="tblDelBtn " onclick="alertChecked('<%= root_url %>special_attendance_params/<%= special.id %>/deletes')">
                                <i class="fa fa-trash-o"></i>
                              </a><% end %>
                            </td>
														</tr>
                           <% i += 1 %>
                            <% end %>
                            <% end %>
													</tbody>
												</table>
										
                     
                    <div class="col-md-12 text-center"></div>
                    
										</div>
									</div>
								</div>

                </div>
                </div>
                </div>
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>

