<div class="page-wrapper">
<%= render "layouts/header" %>
<!-- start page container -->
		<div class="page-container">
		<%= render "layouts/sidebar" %>
 <div class="page-content-wrapper" >
    <div class="page-content" >
           
	<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Mark Attendance</div>
		</div>
		<%= render "layouts/breadcrumbs" %>
	</div>
</div>		
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box" >
			
			<div class="card-body">
		
		<% if flash[:error] %>
             <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= flash[:error] %>
            </div>
        <% end %>
			<%= form_tag({action: 'create'}, multipart: :true, id: :myforms, class: "form-horizontal") do  %>
						<input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
					<input type="hidden" class="form-control-sm" name="markAttendanceId" id="markAttendanceId" value="">
            <input type="hidden" name="mid" id="mid" value="<% if @mark_attend %><%=@mark_attend.id%><% end %>"/>
			            <input type="hidden" name="att_subject" id="att_subject" value=""/>
			            <input type="hidden" name="att_sem" id="att_sem" value=""/>
			            <input type="hidden" name="att_crse" id="att_crse" value=""/>


					<div class="form-body">
					<div class="row">
					<div class="col-md-8 col-sm-12">
			        <div class="form-group row">
						<label class="col-md-2">Faculty
					<span class="required"> * </span>
				</label>
					<div class="col-md-4">
						<select class="form-select select-height" autofocus="true" required name="att_fclty" id="att_fclty" onchange="fetch_subjects_by_faculty();clearStudentTable()">
							<% if @faculty  %>
								<option value="">Select...</option>
								<% end %>
									<%
                        if @faculty && @faculty.length>0
                            @faculty.each do |faculty|
                    %>
                    <option value="<%=faculty.id%>" <% if @mark_attend && @mark_attend.att_fclty.to_i == faculty.id.to_i %>selected<% elsif session[:sess_att_fclty].to_s==faculty.id.to_i%>selected<% end %>><%=faculty.fclty_name%></option>
                    <%
                    end
                    end
                    %>
							</select>
						</div>
						<label class="col-md-2">Date
							<span class="required"> * </span>
						</label>
						<div class="col-md-4">
						<div class="input-group">
						<span class="input-group-addon iconinput-pd"><i class="fa fa-calendar"></i></span>
						<input name="att_date" id="att_date" type="text" onchange="fetch_subjects_by_faculty();clearStudentTable()" readonly placeholder="Select Date" autocomplete="off" maxlength="20" class="form-control" required value="<% if @mark_attend%><%=formatted_date(@mark_attend.att_date)%><%else%><%=Date.today.strftime('%d-%b-%Y')%><% end %>"/>
						</div>
							
						</div>
	             </div>
					<div class="form-group row">
					
					
					</div>
					<div class="form-group row">
					<label class="col-md-2">Period
						<span class="required"> * </span>
					</label>
					<div class="col-md-4">
				<input type="text" required autocomplete="off" readonly class="form-control point me-2" placeholder="Select Period" name="att_period" id="att_period" value="" title="Select Period"/>

      <div id="sidebar-menu-toggle" class="sidebar-menu newtoggle" style="display:none;width:25%;">
      <ul class="ulbrdr" id="process_specification" style="height: 80px;overflow: auto;">
        <li class="" style="display:flex;">   <div style="width: 100%;" >    
          <span class="float-left"></span> <span class="float-right"><input type="checkbox" checked name="post_type_select[]" id="" value="" style="width: 20px;height: 18px;"/>  </span> </div> 
        </li>

<li class="mt5 mr5" style="display: flex;">

<div style="width: 100%;">

  <span class="float-left"></span>

  <span class="float-right" onclick="close_profile_checkbox();">

  <button type="button" title="Close" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

  </button>

  </span>

</div>

</li>



</ul>
</div>
					</div>
						<label class="col-md-2">Group
						<span class="required"> * </span>
					</label>
					<div class="col-md-4">
						<select class="form-select select-height" name="att_grp" id="att_grp" >
							<option value="">Select...</option>
						</select>
					</div>
					
					</div>

					</div>
                    <div class="col-md-4 col-sm-12"> 
						<div class="card mb-0" id="subject-details-card" style="display: none;">
								<div class="card-body " style="font-size: 14px;">
                          <div class="stat-item"  name="subject_name" id="subject_name">
											
										</div>
										<div class="stat-item"  name="typ" id="typ">
										
										</div><br/>
										<div class="stat-item"  name="group" id="group">
											
										</div>
								</div>
						</div>
					</div>
					</div>
			
						<div class="table-scrollable">
												<table class="table">
												<thead>
													<tr>
													<th>S.No.</th>
													<th>Student Code</th>
													<th>Name</th>
													<th class="text-center">Action</th>
													</tr>
												</thead>
												<tbody>
													<% i = 1 %>
													<% if @mark_attendance && @mark_attendance.length > 0 %>
													<% @mark_attendance.each do |attend| %>
														<tr>
														<td><%= i %></td>
														<td><%= attend[:code] %></td>
														<td><%= attend[:name] %></td>
														<td class="text-center">
															<input type="checkbox" name="attendance[<%= attend[:code] %>]" value="Y" <%= 'checked' if attend[:attendance_status] == 'Y' %> style="width: 20px;height: 25px;" />
														</td>
														</tr>
														<% i += 1 %>
													<% end %>
													<% end %>
												</tbody>
												</table>

												</table>
											</div>
                                      <div class="form-group row"> 

																						<div class="col-md-12 no_loader">
											<button type="button" class="btn btn-round btn-danger float-right" onclick="process_delete_attendance();">Delete Attendance</button>
											</div>
						 <div class="col-sm-12 col-md-1 show_loader hidden">
						 <br/>
                    		  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active process_loader" ></div>
					</div>
											</div>
							<div class="form-group form-button text-center  " style="margin-top: 20px;">
								<button type="button" 
							class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-r-20 btn-circle btn-primary" onclick="saveAttendance()">SUBMIT</button>
								<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active process_loader" style="display:none;"></div>
								
							<a href="<%=root_url%>dashboard">	<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-circle btn-danger">Quit</button> </a>
							</div>
					</div>
				</form>
				<% end %>
			</div>
		</div>
	</div>
</div>
					
        
			</div>
	 	</div>	 

    </div>
	<!-- End page container -->
</div>