<div class="page-wrapper">
  <%= render "layouts/header" %>
  <div class="page-container">
    <%= render "layouts/sidebar" %>
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="page-bar">
          <div class="page-title-breadcrumb">
            <div class="pull-left">
              <div class="page-title">Pack Size</div>
            </div>
            <%= render "layouts/breadcrumbs" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <% if flash[:error] %>
                      <div class="alert <%= session[:isErrorhandled].to_i > 0 ? 'alert-danger' : 'alert-success' %>" style="width:900px;" id="successXMessage">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= flash[:error] %>
                      </div>
                    <% end %>
                    <input type="hidden" id="rootXPath" value="<%= root_url %>"/>                                        
                    <input type="hidden" name="server_request" id="server_request" value="Y"/>
                    <%= form_tag({:action=>'index'}, method: :get ,:multipart=>true,:id=>'myForms') do  %>
                      <div class="row m-b-10">
                        <label class="col-sm-12 col-md-2">Pack Size </label>
                        <div class="col-sm-12 col-md-3">
                          <input type="text" class="form-control" name="pack" id="pack" autocomplete="off" placeholder="Enter Pack Size" value="<% if @pack_size_search %><%=@pack_size_search%><% end %>"/>
                        </div>
                        <div class="col-sm-12 col-md-1">
                          <button type="button" class="btn btn-circle btn-default" onclick="filter_pack_size();">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <a href="<%= root_url %>pack_size/referesh_pack_size" class="float-right">
                            <button type="button" class="btn btn-circle btn-info">
                              <i class="fa fa-refresh"></i> Reset
                            </button>
                          </a>
                        </div>
                      </div>
                    <% end %>
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <a href="<%= root_url %>pack_size/add_packsize" class="">
                          <button type="button" class="btn btn-circle btn-success">
                            <i class="fa fa-plus"></i> Add Pack Size
                          </button>
                        </a>
                      </div>
                      <div class="col-sm-12 col-md-9 hidden">
                        <a href="javascript:;" target="_blank" class="float-right" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Click for excel download">
                          <button type="button" class="btn dark btn-outline m-b-10" style="float:right;">CSV</button>
                        </a>
                      </div>
                    </div>
                    <div class="table-scrollable">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Pack Size</th>
                            <th>Active</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                           <% pagestart = params[:page].present? ? params[:page].to_i : 1 %>
                          <% i = pagestart <= 1 ? 1 : ((pagestart - 1) * 10) + 1 %>

                          <% if @pack_size && @pack_size.length>0 %>
                            <% @pack_size.each do |pack| %>                  
                              <tr>
                                <td><%= i %></td>
                                <td><%= pack.ps_packsize %></td>
                              <td><%= pack.ps_status == 'Y' ? 'Y' : 'N' %></td>
                                <td>
                                  <a href="<%= root_url %>pack_size/add_packsize/<%= pack.id %>?page=<%=params[:page] %>" class="tblEditBtn">
                                    <i class="fa fa-pencil"></i>
                                  </a>
                                  <a class="tblDelBtn" onclick="alertChecked('<%= root_url %>pack_size/<%= pack.id %>/deletes')">
                                    <i class="fa fa-trash-o"></i>
                                  </a>
                                </td>
                              </tr>
                              <% i += 1 %>
                            <% end %>
                          <% else %>
                            <tr>
                              <td colspan="5" class="text-center">No records found</td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-12 text-center">
                     <%= will_paginate @pack_size %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
