<input type="hidden" id="globalrootaccess" value="<%=root_url%>">
				<!-- Logo -->
        <!-- start sidebar menu -->

        <div class="sidebar-container">
          <div class="sidemenu-container navbar-collapse collapse fixed-menu">
            <div id="remove-scroll" class="left-sidemenu">
              <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
                data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li class="sidebar-toggler-wrapper hide">
                  <div class="sidebar-toggler">
                    <span></span>
                  </div>
                </li>
            
                <li class="nav-item active open">
                <a href="<%=root_url%>dashboard" class="nav-link nav-toggle"> <i data-feather="airplay"></i>
                  <span class="title">Dashboard</span>
                </a>
              </li>
              <li class="nav-item <% if controller.controller_name == 'stock_list' %>menucolor<% end %>">
              <a href="<%=root_url%>stock_list" class="nav-link "> <span class="title">Stock List</span>
              </a>
            </li>
              <li class="nav-item <% if controller.controller_name == 'stock_inventory' %>menucolor<% end %>">
              <a href="<%=root_url%>stock_inventory" class="nav-link "> <span class="title">Stock Inventory</span>
              </a>
            </li>
              <li class="nav-item <% if controller.controller_name == 'membership_plan' %>menucolor<% end %>">
              <a href="<%=root_url%>membership_plan" class="nav-link "> <span class="title">Membership Plans</span>
              </a>
            </li>
              <li class="nav-item <% if controller.controller_name == 'member_list' %>menucolor<% end %>">
              <a href="<%=root_url%>member_list" class="nav-link "> <span class="title">Members List</span>
              </a>
            </li>
              <li class="nav-item <% if controller.controller_name == 'member_subscriptions' %>menucolor<% end %>">
              <a href="<%=root_url%>member_subscriptions" class="nav-link "> <span class="title">Member Subscriptions</span>
              </a>
            </li>
              <li class="nav-item <% if controller.controller_name == 'staff_list' %>menucolor<% end %>">
              <a href="<%=root_url%>staff_list" class="nav-link "> <span class="title">Staff List</span>
              </a>
            </li>
              <li class="nav-item <% if controller.controller_name == 'trainer_list' %>menucolor<% end %>">
              <a href="<%=root_url%>trainer_list" class="nav-link "> <span class="title">Trainers List</span>
              </a>
            </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end sidebar menu -->

